.item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover {
    background-color: grey;
  }
  &__input {
    background-color: white;
  }
  &__weightInput {
    max-width: 40px;
    border: none;
    text-align: center;
    margin-right: 5px;
    & input {
      text-align: right;
    }
  }
  &__select {
    border: none;
  }
  &__qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__qtyInput {
    padding-left: 10px;
    text-align: center;
    max-width: 40px;
  }
  &__deleteButton {
    border: none;
    background-color: transparent;
    opacity: 50%;
    cursor: pointer;
    &:hover {
      opacity: 100%;
      transition: opacity 0.2s ease;
    }
  }
}
// Overrides arrows on number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// Border overrides for each individual class.
@mixin border-override {
  border-bottom: none;
  transition: border-bottom 0.1s ease;
}

.item__input:before {
  @include border-override();
}

.item__weightInput:before {
  @include border-override();
}

.item__select:before {
  @include border-override();
}

.item__qtyInput:before {
  @include border-override();
}

.MuiButton-startIcon {
  margin-right: 0px;
}
