.item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover {
    background-color: grey;
  }
  &__input {
    border: none;
    background-color: lightgrey;
  }
  &__weightInput {
    max-width: 40px;
    border: none;
    text-align: right;
    margin-right: 5px;
  }
  &__qty {
    display: flex;
    justify-content: center;
  }
}
